$(cat .envrc.secrets)
export AWS_ENDPOINT="s3.amazonaws.com"
export AWS_BUCKET_URL="dlhproject.${AWS_ENDPOINT}"
export DO_ENDPOINT="sfo3.digitaloceanspaces.com"
export DO_BUCKET_URL="dlhproject.${DO_ENDPOINT}"
export DLHPROJ_DATA_ROOT="$HOME/data"
export DATA_ROOT="${DLHPROJ_DATA_ROOT}"
export DLHPROJ_NUM_EPOCHS=5
